/* General Reset */
* {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: hsl(225, 61%, 83%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

main {
  width: 50rem;
  height: 50rem;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  margin: 3rem;
}

/* Header Styles */
#arcade-header, #freeplay-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
}

.share {
  width: 4rem;
  height: 3rem;
  background-color: #f55e77;
  border: 0;
  border-bottom: 0.2rem solid #c0506a;
  border-radius: 2rem;
  cursor: pointer;
}

.share:active {
  border-bottom: 0;
}

.share i {
  color: #fff;
  font-size: 2rem;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  color: #141a39;
  text-transform: uppercase;
  cursor: default;
}

/* Leaderboard Styles */
.leaderboard {
  width: 100%;
  position: relative;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #141a39;
  cursor: default;
}

tr {
  transition: all 0.2s ease-in-out;
  border-radius: 0.2rem;
}

tr:not(:first-child):hover {
  background-color: #fff;
  transform: scale(1.05);
  box-shadow: 0px 5px 15px 8px #e4e7fb;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tr:nth-child(1) {
  color: #fff;
}

td {
  height: 5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.7rem;
  padding: 1.5rem 2rem;
  position: relative;
}

.number {
  width: 2rem;
  font-size: 2.7rem;
  font-weight: bold;
  text-align: left;
}

.name {
  text-align: left;
  font-size: 1.6rem;
}

.points {
  font-weight: bold;
  font-size: 1.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.points:first-child {
  width: 12rem;
}

.gold-medal {
  width: 30px;
  height: auto;
}

/* Ribbon Styles */
.ribbon {
  z-index: 5;
  width: 52rem;
  height: 5rem;
  top: -0.5rem;
  background-color: #5c5be5;
  position: absolute;
  left: -1rem;
  box-shadow: 0px 15px 11px -6px #7a7a7d;
}

.ribbon::before,
.ribbon::after {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  background-color: #5c5be5;
  position: absolute;
  z-index: -1;
}

.ribbon::before {
  bottom: -1rem;
  left: 0.5rem;
  transform: rotate(45deg);
}

.ribbon::after {
  bottom: -1rem;
  right: 0.5rem;
  transform: rotate(45deg);
}

/* Back Button Styles */
.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  color: #5c5be5;
  background-color: #ffffff;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.back-button:hover {
  background-color: #5c5be5;
  color: #ffffff;
}

/* Media Queries */
@media (max-width: 1000px) {
  body {
    flex-direction: column;
  }

  main {
    margin: 3rem 1rem; 
    margin-top: 10rem; 
  }
}

/* Highest Score Styles */
.highest-score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
  font-weight: bold;
}

.rank-num {
  font-size: 2.5rem;
  margin-right: 10px;
}

.rank-name {
  font-size: 1.9rem;
  margin-right: 10px;
}

.score-and-img {
  display: flex;
  align-items: center;
  margin-left: 120px;
}

.rank-score {
  font-size: 1.9rem;
  margin-right: 10px;
}
